---
layout: default
title: pile-contributors.github.io
---

<div id="home">

  <div class="section">
  <h1 class="section_title">Hello</h1>

  <p>
    This site hosts resources related to piles.
  </p>
  <p>
	<img alt="Pile example" src="/assets/images/pile-128.png"></img>
  </p>
  </div>

  <div class="section">
  <h1 class="section_title">What is a pile?</h1>
  <p>
    A pile is a small piece of code, large and important enough
	for you to remember but smaller than a library.
	</br>
    The pile is expected to be used in various ways and should 
	be flexible enough to allow several use modes.
  </p>
  </div>

  <div class="section">
  <h1 class="section_title">Repositories</h1>
  <p>
    To differentiate actual piles from support repositories, following naming
	convention is to be followed:
	<ul class="unstyled">
	<li><b>pile-xxx</b> is a support repository</li>
	<li><b>yyy</b> is a pile repository</li>
	<li><b>yyy_helpers</b> contains additional code related to pile yyy</li>
	</p>
  </p>
  <p>
    Piles use CMake as a build system. Several CMake scripts are provided
    in <a href="https://github.com/pile-contributors/pile-cmake">pile-cmake repository</a>
    to make the job of the developer as simple as possible.
  </p>
  <p>
    A number of examples are provided in 
	<a href="https://github.com/pile-contributors/pile-examples">pile-examples repository</a>.
	A Qt-based GUI tool is also provided in 
	<a href="https://github.com/pile-contributors/pile-gui">pile-gui</a>.
  </p>
  <p>
    This website is also hosted in a GitHub repository, at 
	<a href="https://github.com/pile-contributors/pile-contributors.github.io">pile-contributors.github.io</a>.
  </p>

  </div>  
  

  <div class="section">
  <h1 class="section_title">Latest Blog Posts</h1>
  <ul class="posts">
    {% for post in site.posts offset:0 limit:10 %}
      <li>
        <span>{{ post.date | date_to_string }}</span> &raquo; 
        <a href="{{ post.url }}">{{ post.title }}</a>
        [ in
	{% for category in post.categories %}
	  <a href="/categories/{{ category }}.html">{{ category }}</a>
	{% endfor %}
        ]
     </li>
    {% endfor %}
  </ul>
  <p>
    See them <a href="/categories/all.html">all</a>.
  </p>
  </div>

</div>

