<div class="section">
    <h1 class="section_title"><a href="{{ site.url }}/specs/cmake.html">CMake</a></h1>

	<p>
		Piles use CMake as a build system. Several CMake scripts are provided
		in <a href="https://github.com/pile-contributors/pile-cmake">pile-cmake repository</a>
		to make the job of the developer as simple as possible. Here is a complete list:
	</p>

	<ul>
        <li><a href="{{ site.url }}/specs/cmake.html#pileCmakeOutputPath">pileCmakeOutputPath</a></li>
        <li><a href="{{ site.url }}/specs/cmake.html#pileRelativePath">pileRelativePath</a></li>
        <li><a href="{{ site.url }}/specs/cmake.html#pileUsedBy">pileUsedBy</a></li>
        <li><a href="{{ site.url }}/specs/cmake.html#pileDebugMessage">pileDebugMessage</a></li>
        <li><a href="{{ site.url }}/specs/cmake.html#pileInclude">pileInclude</a></li>
        <li><a href="{{ site.url }}/specs/cmake.html#pileCreateCopyTarget">pileCreateCopyTarget</a></li>
        <li><a href="{{ site.url }}/specs/cmake.html#pileCopyHeaders">pileCopyHeaders</a></li>
		
        <li><a href="{{ site.url }}/specs/cmake.html#pileSetDependencies">pileSetDependencies</a></li>
        <li><a href="{{ site.url }}/specs/cmake.html#pileSetCategory">pileSetCategory</a></li>
        <li><a href="{{ site.url }}/specs/cmake.html#pileSetTags">pileSetTags</a></li>
        <li><a href="{{ site.url }}/specs/cmake.html#pileSetVersion">pileSetVersion</a></li>
        <li><a href="{{ site.url }}/specs/cmake.html#pileSetMode">pileSetMode</a></li>
        <li><a href="{{ site.url }}/specs/cmake.html#pileSetCommon">pileSetCommon</a></li>
		
        <li><a href="{{ site.url }}/specs/cmake.html#pileConfigFile">pileConfigFile</a></li>
        <li><a href="{{ site.url }}/specs/cmake.html#pileSetSources">pileSetSources</a></li>
		
	</ul>

</div>
