---
layout: default
---

<div class="section">
<h1 class="section_title">Posts in <em>{{ page.title }}</em> category</h1>

<ul class="posts">
{% for category in site.categories %}
{% if category[0] == page.title %}
    {% for posts in category %}
      {% for post in posts %}
        {% if post.title | size > 0 %}
<li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a></li>
        {% endif %}
      {% endfor %}
    {% endfor %}
{% endif %}
{% endfor %}
</ul>
</div>

